@import url("./reset.css");
html,
body,
#app {
  height: 100%;
}

body {
  font-family: "PingFang SC", "Helvetica Neue", "Microsoft YaHei", "微软雅黑", Arial, sans-serif, "Helvetica Neue",
    Helvetica, "PingFang SC", "Hiragino Sans GB";
}
.yhoaicon{
  font-size: 0.9em;
}

/*滚动条整体部分,必须要设置*/
::-webkit-scrollbar {
  width: 8px;
  height: 8px;
}

/*滚动条的轨道*/
::-webkit-scrollbar-track {
  background-color: transparent;
}

/*滚动条的滑块按钮*/
::-webkit-scrollbar-thumb {
  border-radius: 6px;
  transition: all 0.2s ease-in-out;
}

::-webkit-scrollbar-thumb:hover {
}